[Desktop Entry]
Name=uApp Explorer
Comment=Discover apps for your Ubuntu Touch device
Type=Application
Icon=data/uappexplorer.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true
